
body {
	margin: 0;
	padding: 0;
}

html {
/*	background: url(../img/Flag_of_Texas.svg) fixed center center no-repeat;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;*/
}

.flag {
	height: 100vh;
	width: 100vw;
	margin: 0;
	outline: 3px dashed hotpink;
	position: relative;
}

.star {
	background: url(../img/star.png) center center no-repeat;
	height: 100%;
	opacity: 0;
	width: 100%;
	z-index: 10;
	animation: starfade .1s;
		animation-delay: 12s;
	animation-iteration-count: 1;
	animation-fill-mode:forwards;
	animation-timing-function: linear;
}

@keyframes starfade {
	0% {
		background-size: 0px 0px;
		opacity: initial;
	}

	100% {
		background-size: 315px 300px;
		opacity: 1;
	}
}

.stripe {
	position: absolute;
}

.redstripe {
	background: black;
	height: 50%;
	width: 66.5%;
	bottom: 0;
	right: 0;
	animation: fadeToRed 1s linear;
	animation-delay: 5s;
	animation-iteration-count: 1;
	animation-fill-mode:forwards;
}

.whitestripe {
	background: black;
	height: 50%;
	width: 66.5%;
	top: 0;
	right: 0;
	animation: fadeToWhite 1s linear;
	animation-delay: 4s;
	animation-iteration-count: 1;
	animation-fill-mode:forwards;
}

.bluestripe {
	background: black;
	height: 100%;
	width: 33.5%;
	top: 0;
	left: 0;
	animation: fadeToBlue 1s linear;
	animation-delay: 3s;
	animation-iteration-count: 1;
	animation-fill-mode:forwards;
}


@keyframes fadeToBlue{
  0% {
    background: black;
  }
  100% {
  	background: #002868;
  }
}
@keyframes fadeToWhite {
  0% {
    background: black;
  }
  100% {
  	background: white;
  }
}

@keyframes fadeToRed {
  0% {
    background: black;
  }
  100% {
  	background: #bf0a30;
  }
}

.words {
	color: white;
	font-family: 'Roboto', sans-serif;
	font-size: 4em;
	position: absolute;
	top: 100%;
	right: 0;
	text-align: center;
	text-transform: uppercase;
	width: 66.5%;
	animation: slideUp 5s linear;
	animation-delay: 6s;
	animation-iteration-count: 1;
	animation-fill-mode:forwards;
}

@keyframes slideUp {
	0% {
		top: 100%;
		opacity: 0;
	}
	100% {
		top: 15%;
		opacity: 1;
	}
}


.p1 {
	animation: turnblack .5s linear;
	animation-delay: 9.5s;
	animation-iteration-count: 1;
	animation-fill-mode:forwards;
}

.p2 {
	animation: turnblack .5s linear;
	animation-delay: 10.25s;
	animation-iteration-count: 1;
	animation-fill-mode:forwards;
}

@keyframes turnblack {
	0% {
		color: white;
	}
	100% {
		color: black;
	}
}


